* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'TT Lakes';
  font-weight: normal; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2px; }

header {
  padding: 18px 16px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.menu button:focus {
  outline: 2px solid #000; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

.menu-desktop__options button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out; }
  .menu-desktop__options button:hover {
    background-color: #a8171733; }

.menu-desktop__options .menu-desktop__repair::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(118cc13b8f8136a0a56a.svg); }

.menu-desktop__options .menu-desktop__status::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(bd35a4fbf97797b10cf5.svg); }

.main-content__tabs {
  margin-bottom: 10px; }

.main-content__tabs a,
.menu-popup__tabs a {
  -webkit-transition: background-color 0.16s ease-in-out;
  transition: background-color 0.16s ease-in-out; }

.main-content__tabs a:not(.active):hover,
.menu-popup__tabs a:not(.active):hover {
  background-color: #a8171733; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px; }

.menu__navigation span.menu__navigation__delimiter {
  display: none; }

.menu__options button {
  width: 40px;
  height: 40px; }

.menu__repair-button {
  background-image: url(118cc13b8f8136a0a56a.svg); }

.menu__check-status {
  background-image: url(bd35a4fbf97797b10cf5.svg); }

.menu-options__screen-tablet button:nth-child(1) {
  background-image: url(1a3cb95aa8beac9b4226.svg); }

.menu-options__screen-tablet button:nth-child(2) {
  background-image: url(67f2d934e8876d72c9c5.svg); }

.menu-options__screen-tablet button:nth-child(3) {
  background-image: url(0443cb53c3e2de4553e5.svg); }

.menu__navigation::after {
  content: '';
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea; }

.menu__navigation > button:first-child {
  width: 40px;
  height: 40px;
  background-image: url(b2509fa0cd8ca592bd18.svg); }

.main-content__title {
  margin: 0 auto;
  padding: 24px 16px; }

.main-content__title::before,
.menu-desktop__navigation::before {
  content: '';
  position: absolute;
  left: -16px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.main-content__title h2,
.menu-desktop__navigation h2 {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px; }

.main-content__tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  padding: 22px 15px;
  overflow-x: auto; }
.main-content__tabs li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.main-content__tabs a {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 2px 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  border: 2px solid transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
.main-content__tabs a.active {
  border: 2px solid #b8ffec; }
.main-content__tabs a:not(.active):focus {
  outline: 2px solid #000; }

.main-content__description {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto; }

.main-content__about {
  padding: 0 16px; }
  .main-content__about p:first-of-type {
    margin-bottom: 10px; }

.main-content__read-next {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
  padding-left: 1rem;
  margin: 16px 0; }
  .main-content__read-next:hover {
    color: red; }

.main-content__read-next::before,
.showMore::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(e7eb67abfc1fc4f0d1e6.svg);
  left: 0; }

.main-content__read-next.close::before {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important; }

.main-content__mobile-img {
  width: 320px;
  height: 230px; }

.menu-options__screen-tablet {
  display: none; }

.menu-desktop {
  display: none; }

.menu-popup {
  position: fixed;
  z-index: 2222;
  width: 320px;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background: white;
  padding: 18px 15px;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
  .menu-popup__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    margin-bottom: 50px; }
    .menu-popup__header button:not(button:has(img)):hover {
      outline: 2px solid black;
      border-radius: 50%; }
    .menu-popup__header div:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 15px;
              column-gap: 15px; }
  .menu-popup__close-btn {
    background-image: url(7907a3322282df5a23a9.svg);
    width: 40px;
    height: 40px; }
  .menu-popup__search {
    background-image: url(b8751a6ca49ea57c3974.svg);
    width: 40px;
    height: 40px; }
  .menu-popup__tabs {
    margin-bottom: 50px; }
    .menu-popup__tabs ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      row-gap: 22px; }
    .menu-popup__tabs a {
      color: #1b1c21;
      font-family: TT Lakes;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px; }
    .menu-popup__tabs a.active {
      color: #7e7e82; }
    .menu-popup__tabs li {
      position: relative; }
      .menu-popup__tabs li a {
        vertical-align: middle;
        padding: 8px 20px;
        border-radius: 5px; }
    .menu-popup__tabs li:has(a.active)::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 4px;
      height: 30px;
      background-color: #41f6d7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .menu-popup__contacts {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 16px; }
    .menu-popup__contacts div:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 16px;
              column-gap: 16px; }
      .menu-popup__contacts div:first-child button:hover {
        outline: 2px solid black;
        border-radius: 100%; }
  .menu-popup__email {
    color: #1b1c21;
    font-size: 16px;
    font-weight: normal;
    font-weight: 500; }
    .menu-popup__email:hover {
      color: green; }
  .menu-popup__phone {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px; }
    .menu-popup__phone:hover {
      color: green; }
  .menu-popup__call {
    background-image: url(1a3cb95aa8beac9b4226.svg);
    width: 40px;
    height: 40px; }
  .menu-popup__chat {
    background-image: url(67f2d934e8876d72c9c5.svg);
    width: 40px;
    height: 40px; }
  .menu-popup__profile {
    background-image: url(0443cb53c3e2de4553e5.svg);
    width: 40px;
    height: 40px; }
  .menu-popup__lang button {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px; }

.menu__fieldset {
  border: none;
  font-size: 18px; }
  .menu__fieldset input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); }
  .menu__fieldset label {
    border: 2px solid #cccccc00;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer; }
    .menu__fieldset label:hover {
      outline: 2px solid #7e7e82; }
  .menu__fieldset input:checked + span {
    color: #7e7e82; }

.main-content__story p.active-story {
  visibility: visible !important;
  height: 100% !important; }
.main-content__story p:nth-child(2) {
  visibility: hidden;
  height: 0px; }

.main-content__brands:not(:last-child) {
  position: relative;
  padding-top: 50px;
  display: block; }

.main-content__brands h2 {
  padding: 15px 16px;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right top, left top, from(white), to(transparent));
  background: linear-gradient(to left, white, transparent);
  position: relative; }
  .main-content__brands h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, right top, left top, from(#d9fff5), to(transparent));
    background: linear-gradient(to left, #d9fff5, transparent); }

.brand-info__circle,
.equipment-repair__circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(f574b6dcc5840a657c34.svg); }

.showMore {
  margin-left: 1.2em;
  position: relative;
  left: 30px;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px; }
  .showMore::before {
    left: -23px; }
  .showMore:hover {
    color: red; }

.close::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.swiper {
  top: 22px; }

.swiper-pagination {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: static !important; }

.swiper.slider-1 {
  display: block; }

.showMore {
  display: none; }

.main-content__brand-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  padding: 16px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 6px;
  margin: 0 auto;
  background: #fff; }
  .main-content__brand-info img {
    aspect-ratio: 18/1;
    -o-object-fit: none;
       object-fit: none;
    background-color: #fff; }

.popup-state-cloused {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-shadow: none;
          box-shadow: none; }

.popup-state-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
          box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02); }

body:has(.popup-state-open) {
  overflow-y: hidden; }

.main-content,
header {
  background: #f8f8f8; }

.main-content__equipment-repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 16px 16px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #cccccc9a;
  max-width: 240px;
  height: 160px;
  margin: 0 auto; }
  .main-content__equipment-repair span:first-child {
    font-size: 16px; }
  .main-content__equipment-repair span:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.main-content__jobInformation {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  border-radius: 6px;
  background: #fff;
  max-width: 250px;
  height: 200px;
  margin: 0 auto;
  padding: 16px 16px; }

.main-content__jobInformation div:not(div.term-info) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-content__jobInformation div:not(div.term-info) span:first-child {
    color: #7e7e82;
    font-size: 14px; }

.term-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .term-info__order-btn {
    color: white;
    padding: 9px 36px 9px 15px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 16px;
    background: #ff3e79;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    position: relative; }
    .term-info__order-btn::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url(d8732c2602e337886796.svg);
      background-repeat: no-repeat;
      right: 8px; }

.main-content__info {
  display: none !important; }

.comercial-info {
  padding: 24px;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  color: #1b1c21;
  font-family: TT Lakes;
  font-style: normal; }
  .comercial-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px; }
  .comercial-info a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px; }
    .comercial-info a::after {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      top: -2px;
      width: 24px;
      height: 24px;
      background-image: url(3319c3d36e8ec0b91cf4.svg); }

.footer {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 16px; }

.outside .menu-popup__click-outside,
.call-outside,
.feedback-outside {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.call-popup-state-cloused {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.call-popup-state-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

body:has(.call-popup-state-open) {
  overflow-y: hidden; }

.feedback-popup-state-cloused {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.feedback-popup-state-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

body:has(.feedback-popup-state-open) {
  overflow-y: hidden; }

.call-popup {
  padding: 90px 16px 40px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
          box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02); }
  .call-popup__clouse-btn {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 40px;
    background-image: url(7907a3322282df5a23a9.svg);
    background-repeat: no-repeat; }
    .call-popup__clouse-btn:hover {
      outline: 2px solid black;
      border-radius: 50%; }
  .call-popup__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
  .call-popup::after {
    content: '';
    position: absolute;
    left: 0;
    top: 87px;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .call-popup input {
    font-size: 16px;
    font-family: TT Lakes;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 12px 16px;
    width: 100%; }
    .call-popup input::-webkit-input-placeholder {
      color: #b5b6bc; }
    .call-popup input:-ms-input-placeholder {
      color: #b5b6bc; }
    .call-popup input::-ms-input-placeholder {
      color: #b5b6bc; }
    .call-popup input::placeholder {
      color: #b5b6bc; }
  .call-popup__title {
    color: #1b1c21;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px; }
  .call-popup__agree-data {
    color: #7e7e82;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; }
    .call-popup__agree-data a {
      color: #ff3e79;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px; }
  .call-popup__btn {
    -ms-flex-item-align: end;
        align-self: end; }
  .call-popup-click-outside {
    background-color: #ffffff94;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 44444444; }

.feedback-popup {
  padding: 90px 16px 40px 16px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
          box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02); }
  .feedback-popup::after {
    content: '';
    position: absolute;
    left: 0;
    top: 87px;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .feedback-popup input {
    font-size: 16px;
    margin-bottom: 16px;
    font-family: TT Lakes;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 12px 16px;
    width: 100%; }
    .feedback-popup input::-webkit-input-placeholder {
      color: #b5b6bc; }
    .feedback-popup input:-ms-input-placeholder {
      color: #b5b6bc; }
    .feedback-popup input::-ms-input-placeholder {
      color: #b5b6bc; }
    .feedback-popup input::placeholder {
      color: #b5b6bc; }
  .feedback-popup__clouse-btn {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 40px;
    background-image: url(7907a3322282df5a23a9.svg);
    background-repeat: no-repeat; }
    .feedback-popup__clouse-btn:hover {
      outline: 2px solid black;
      border-radius: 50%; }
  .feedback-popup__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
  .feedback-popup__title {
    color: #1b1c21;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px; }
  .feedback-popup__agree-data {
    color: #7e7e82;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; }
    .feedback-popup__agree-data a {
      color: #ff3e79;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px; }
  .feedback-popup__btn {
    -ms-flex-item-align: end;
        align-self: end; }
  .feedback-popup-click-outside {
    background-color: #ffffff94;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 44444444; }
  .feedback-popup textarea[name='message'] {
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 12px;
    width: 100%;
    resize: none; }
    .feedback-popup textarea[name='message']::-webkit-input-placeholder {
      color: #b5b6bc;
      font-family: TT Lakes;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: -0.2px; }
    .feedback-popup textarea[name='message']:-ms-input-placeholder {
      color: #b5b6bc;
      font-family: TT Lakes;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: -0.2px; }
    .feedback-popup textarea[name='message']::-ms-input-placeholder {
      color: #b5b6bc;
      font-family: TT Lakes;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: -0.2px; }
    .feedback-popup textarea[name='message']::placeholder {
      color: #b5b6bc;
      font-family: TT Lakes;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: -0.2px; }

.feedback-outside {
  overflow-y: auto; }

.swiper-slide {
  display: block; }

@media screen and (min-width: 575px) {
  .call-popup {
    padding: 40px 32px;
    width: 440px; }
    .call-popup::after {
      top: 35px; }
    .call-popup__clouse-btn {
      top: 35px;
      left: -70px; }

  .feedback-popup {
    padding: 40px 32px;
    width: 440px; }
    .feedback-popup::after {
      top: 35px; }
    .feedback-popup__clouse-btn {
      top: 35px;
      left: -70px; } }
@media screen and (min-width: 425px) {
  .menu-popup {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .menu-popup__click-outside {
      position: fixed;
      -webkit-backdrop-filter: blur(2px);
              backdrop-filter: blur(2px);
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: #ffffff6c;
      z-index: 2; } }
@media screen and (min-width: 768px) {
  .repair-slide:nth-child(n + 5) {
    display: none; }

  .main-content__choiceBrands .swiper-slide:nth-child(n + 9) {
    display: none; }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 16px; }
    .footer p:nth-child(1) {
      text-align: start;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33%;
              flex: 0 0 33.33%; }
    .footer p:nth-child(2) {
      text-align: inherit;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33%;
              flex: 0 0 33.33%; }
    .footer p:nth-child(3) {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33%;
              flex: 0 0 33.33%;
      text-align: end; }

  .comercial-info p {
    max-width: 421px; }

  .main-content__jobInformation {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 6px;
    background: #fff;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 16px 16px; }
    .main-content__jobInformation div {
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%; }
      .main-content__jobInformation div.price-info {
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%; }
    .main-content__jobInformation div span:first-child {
      display: none; }

  .main-content__info {
    display: block !important;
    padding: 15px 24px 0 24px; }

  .inforamation {
    background: transparent !important; }
    .inforamation div span:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .main-content__services {
    display: grid !important;
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr)) !important;
    gap: 16px;
    background-color: #f8f8f8;
    padding: 0 24px 24px 24px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }

  .main-content__choiceBrands > .swiper-slide:nth-child(n + 9) {
    display: none; }

  .swiper-pagination {
    display: none; }

  .menu-options__screen-tablet {
    display: inherit; }

  .showMore {
    display: block; }

  .swiper {
    overflow: visible !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 0; }

  .swiper-wrapper {
    -webkit-box-sizing: inherit !important;
            box-sizing: inherit !important; }

  .swiper-wrapper.grid.main-content__choiceBrands {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr)) !important;
    gap: 16px;
    background-color: #f8f8f8;
    padding: 24px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }

  .main-content__brand-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    padding: 20px 16px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #cccccc9a;
    max-width: inherit; }

  .main-content__equipment-repair {
    margin: 0; }

  .main-content__brand-info:hover,
  .main-content__equipment-repair:hover {
    border: 1px solid #000000; }

  .menu-options__screen-tablet::after {
    content: '';
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea; }

  .menu__navigation::after {
    content: '';
    display: none; }

  .menu__navigation span.menu__navigation__delimiter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea; }

  .main-content__mobile-img {
    width: 360px;
    height: 260px; }

  .main-content__description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }
@media screen and (min-width: 1120px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .main-content__tabs ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .main-content__mobile-img {
    width: 531px;
    height: 383px; }

  .menu-popup {
    width: 320px;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: -webkit-sticky;
    position: sticky;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
    top: 0; }

  .menu {
    display: none; }

  .main-content__title {
    display: none; }

  .main-content__description {
    max-width: 1120px;
    margin: 20px auto; }

  .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu-desktop__options {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 32px;
              column-gap: 32px; }
    .menu-desktop__options button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 8px;
              column-gap: 8px;
      background-color: transparent; }
      .menu-desktop__options button:focus {
        outline: 2px solid #000;
        border-radius: 5px; }

  .menu-popup__close-btn {
    display: none; } }
