* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes';
  font-weight: normal;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;
}
header {
  padding: 18px 16px;
}

.menu button:focus {
  outline: 2px solid #000;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

.menu-desktop__options button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.16s ease-in-out;
}
.menu-desktop__options button:hover {
  background-color: #a8171733;
}

.menu-desktop__options > .menu-desktop__repair::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url('./img/repair.svg');
}
.menu-desktop__options > .menu-desktop__status::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url('./img/checkstatus.svg');
}
.main-content__tabs {
  margin-bottom: 10px;
}

.main-content__tabs a,
.menu-popup__tabs a {
  transition: background-color 0.16s ease-in-out;
}
.main-content__tabs a:not(.active):hover,
.menu-popup__tabs a:not(.active):hover {
  background-color: #a8171733;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu * {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.menu__navigation span.menu__navigation__delimiter {
  display: none;
}

.menu__options button {
  width: 40px;
  height: 40px;
}
.menu__repair-button {
  background-image: url('./img/repair.svg');
}
.menu__check-status {
  background-image: url('./img/checkstatus.svg');
}

.menu-options__screen-tablet button:nth-child(1) {
  background-image: url('./img/screen-tablet/call.svg');
}
.menu-options__screen-tablet button:nth-child(2) {
  background-image: url('./img/screen-tablet/chat.svg');
}
.menu-options__screen-tablet button:nth-child(3) {
  background-image: url('./img/screen-tablet//profile.svg');
}

.menu__navigation::after {
  content: '';
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea;
}

.menu__navigation > button:first-child {
  width: 40px;
  height: 40px;
  background-image: url('./img/burger.svg');
}

.main-content__title {
  margin: 0 auto;
  padding: 24px 16px;
}

.main-content__title::before,
.menu-desktop__navigation::before {
  content: '';
  position: absolute;
  left: -16px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-content__title h2,
.menu-desktop__navigation h2 {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
}
.main-content__tabs ul {
  display: flex;
  gap: 18px;
  padding: 22px 15px;
  overflow-x: auto;
}

.main-content__tabs li {
  position: relative;
  display: flex;
}
.main-content__tabs a {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 2px 14px;
  height: fit-content;
  border-radius: 6px;
  border: 2px solid transparent;
  width: max-content;
}
.main-content__tabs a.active {
  border: 2px solid #b8ffec;
}
.main-content__tabs a:not(.active):focus {
  outline: 2px solid #000;
}

.main-content__description {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-content__about {
  padding: 0 16px;
}

.main-content__about p:first-of-type {
  margin-bottom: 10px;
}
.main-content__read-next {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
  padding-left: 1rem;
  margin: 16px 0;
}

.show:hover,
.main-content__read-next:hover {
  color: red;
}
.main-content__read-next::before,
.main-content__showMore-companies::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('./img/nextread.svg');
  left: 0;
}

.main-content__read-next.close::before {
  transform: rotate(180deg) !important;
}
.main-content__mobile-img {
  width: 320px;
  height: 230px;
}

.menu-options__screen-tablet {
  display: none;
}

.menu-desktop {
  display: none;
}

.menu-popup {
  flex: 0 0 320px;
  height: 100%;
  overflow-y: auto;
  background: white;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  padding: 18px 15px;
  display: none;
}

.menu-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 50px;
}

.menu-popup__header button:not(button:has(img)):hover {
  outline: 2px solid black;
  border-radius: 50%;
}
.menu-popup__header div:first-child {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.menu-popup__close-btn {
  background-image: url('./img/popup-images/close.svg');
  width: 40px;
  height: 40px;
}
.menu-popup__search {
  background-image: url('./img/popup-images/search.svg');
  width: 40px;
  height: 40px;
}

.menu-popup__tabs a {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.menu-popup__tabs {
  margin-bottom: 50px;
}
.menu-popup__tabs a.active {
  color: #7e7e82;
}

.menu-popup__tabs li {
  position: relative;
}
.menu-popup__tabs li:has(a.active)::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 30px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-popup__tabs li a {
  vertical-align: middle;
  padding: 8px 20px;
  border-radius: 5px;
}
.menu-popup__tabs ul {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.menu-popup__contacts {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}
.menu-popup__contacts div:first-child {
  display: flex;
  column-gap: 16px;
}
.menu-popup__contacts div:first-child button:hover {
  outline: 2px solid black;
  border-radius: 100%;
}

.menu-popup__email {
  color: #1b1c21;
  font-size: 16px;
  font-weight: normal;
  font-weight: 500;
}
.menu-popup__email:hover {
  color: green;
}

.menu-popup__phone {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}
.menu-popup__phone:hover {
  color: green;
}

.menu-popup__call {
  background-image: url('./img/popup-images/call.svg');
  width: 40px;
  height: 40px;
}
.menu-popup__chat {
  background-image: url('./img/popup-images/chat.svg');
  width: 40px;
  height: 40px;
}
.menu-popup__profile {
  background-image: url('./img/popup-images/profile.svg');
  width: 40px;
  height: 40px;
}

.menu-popup__lang button {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.menu__fieldset {
  border: none;
  font-size: 18px;
}

.menu__fieldset input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.menu__fieldset label {
  border: 2px solid #cccccc00;
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
}
.menu__fieldset label:not(:has(input:checked)):hover {
  outline: 2px solid #7e7e82;
}

.menu__fieldset input:checked + span {
  color: #7e7e82;
}

.main-content__story p.active-story {
  visibility: visible !important;
  height: 100% !important;
}

.main-content__story p:nth-child(2):not(:has(.active-story)) {
  visibility: hidden;
  height: 0px;
}

.main-content__brands {
  position: relative;
  margin-bottom: 50px;
}

.main-content__brands h2 {
  padding: 15px 16px;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.main-content__brand-info img {
  aspect-ratio: 18/1;
  object-fit: contain;
  background-color: #fff;
}

.brand-info__circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('./img/company-images/go.svg');
}

.main-content__showMore-companies {
  margin-left: 1.2em;
  position: relative;
  left: 30px;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.main-content__showMore-companies::before {
  left: -23px;
}

.main-content__showMore-companies:hover {
  color: red;
}

.close::before {
  transform: rotate(180deg);
}

.swiper {
  height: 100px;
}

.swiper-wrapper {
  position: relative;
}
.swiper-pagination {
  position: absolute !important;
  top: 70px !important;
}

.main-content__choiceBrands {
  display: none;
}
.swiper.slider-1 {
  display: block;
}
.main-content__showMore-companies.showMore {
  display: none;
}
.main-content__brand-info {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding: 20px 16px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .main-content__choiceBrands .swiper-slide:nth-child(n + 9) {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
  .menu-options__screen-tablet {
    display: inherit;
  }

  .main-content__showMore-companies.showMore {
    display: block;
  }
  .swiper {
    overflow: visible !important;
    height: max-content;
  }
  .swiper-wrapper {
    box-sizing: inherit !important;
  }

  .swiper-wrapper.grid.main-content__choiceBrands {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr)) !important;
    gap: 16px;
    background-color: #f8f8f8;
    padding: 24px;
    height: max-content;
  }

  .main-content__brand-info {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 20px 16px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #cccccc9a;
  }
  .main-content__brand-info:hover {
    border: 1px solid #000000;
  }
  .menu-options__screen-tablet::after {
    content: '';
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }

  .menu__navigation::after {
    content: '';
    display: none;
  }

  .menu__navigation span.menu__navigation__delimiter {
    display: flex;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }

  .main-content__mobile-img {
    width: 360px;
    height: 260px;
  }

  .main-content__description {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1120px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .main-content__tabs ul {
    flex-wrap: wrap;
  }
  .main-content__mobile-img {
    width: 531px;
    height: 383px;
  }
  .menu-popup {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border-right: 2px solid #41f6d842;
    position: sticky;
    left: 0;
    top: 0;
  }

  .menu {
    display: none;
  }
  .main-content__title {
    display: none;
  }
  .main-content__description {
    max-width: 1120px;
    margin: 0 auto;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .menu-desktop__options {
    display: flex;
    column-gap: 32px;
  }
  .menu-desktop__options button {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  .menu-desktop__options button:focus {
    outline: 2px solid #000;
    border-radius: 5px;
  }
}
