* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes';
  font-weight: normal;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;
}
header {
  padding: 18px 16px;
}

.menu button:focus {
  outline: 2px solid #000;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

.menu-desktop__options button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.16s ease-in-out;
}
.menu-desktop__options button:hover {
  background-color: #a8171733;
}
.main-content__tabs {
  margin-bottom: 10px;
}

.main-content__tabs a {
  transition: background-color 0.16s ease-in-out;
}
.main-content__tabs a:not(.active):hover {
  background-color: #a8171733;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu * {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.menu__navigation span.menu__navigation__delimiter {
  display: none;
}

.menu__options button {
  width: 40px;
  height: 40px;
}
.menu__repair-button {
  background-image: url('./img/repair.svg');
}
.menu__check-status {
  background-image: url('./img/checkstatus.svg');
}

.menu-options__screen-tablet button:nth-child(1) {
  background-image: url('./img/screen-tablet/call.svg');
}
.menu-options__screen-tablet button:nth-child(2) {
  background-image: url('./img/screen-tablet/chat.svg');
}
.menu-options__screen-tablet button:nth-child(3) {
  background-image: url('./img/screen-tablet//profile.svg');
}

.menu__navigation::after {
  content: '';
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea;
}

.menu__navigation > button:first-child {
  width: 40px;
  height: 40px;
  background-image: url('./img/burger.svg');
}

.main-content__title {
  margin: 0 auto;
  padding: 24px 16px;
}

.main-content__title::before,
.menu-desktop__navigation::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-content__title h2,
.menu-desktop__navigation h2 {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
}
.main-content__tabs ul {
  overflow-x: auto;
  display: flex;
  gap: 18px;
  padding: 22px 15px;
}

.main-content__tabs li {
  position: relative;
  display: flex;
}
.main-content__tabs a {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 2px 14px;
  height: fit-content;
  border-radius: 6px;
  border: 2px solid transparent;
  width: max-content;
}
.main-content__tabs a.active {
  border: 2px solid #b8ffec;
}
.main-content__tabs a:not(.active):focus {
  outline: 2px solid #000;
}

.main-content__description {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.main-content__about {
  padding: 0 16px;
}

.main-content__about p:first-of-type {
  margin-bottom: 10px;
}
.main-content__story {
  height: 90px;
  overflow-y: auto;
}
.main-content__read-next {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  position: relative;
  padding-left: 1rem;
  margin: 16px 0;
}
.main-content__read-next::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('./img/nextread.svg');
  left: 0;
}
.main-content__mobile-img {
  width: 320px;
  height: 230px;
}

.menu-options__screen-tablet {
  display: none;
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-options__screen-tablet {
    display: inherit;
  }

  .menu-options__screen-tablet::after {
    content: '';
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }

  .menu__navigation::after {
    content: '';
    display: none;
  }

  .menu__navigation span.menu__navigation__delimiter {
    display: flex;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
  }

  .main-content__mobile-img {
    width: 360px;
    height: 260px;
  }

  .main-content__description {
    flex-direction: row;
  }
  .main-content__story {
    height: 160px;
  }
}
@media screen and (min-width: 1120px) {
  .main-content__mobile-img {
    width: 531px;
    height: 383px;
  }

  .menu {
    display: none;
  }
  .main-content__title {
    display: none;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-between;
  }
  .menu-desktop__options {
    display: flex;
    column-gap: 32px;
  }
  .menu-desktop__options button {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  .menu-desktop__options button:focus {
    outline: 2px solid #000;
    border-radius: 5px;
  }
}
